body {
    background-image: url(../img/original.jpg); 
    lex-flow: row ;


}

.titulo {
    background-color: #000000;
    color: #ffffff;
 
    text-align: center;
    font-size: 40px;
    font-family:cursive;
    
}
 
.subtitulo {
    background-color: r#000000;
    color: #ffffff;
    background-color: rgb(95, 71, 71);
    text-align: center;
    font-size: 30px;
    font-family:cursive;
    padding: 20px 5px;
    margin: 0px 650px; 
    width: 600px;
    

}
.container{
    display:flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}
p {
    font-family: verdana;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    background-color: rgb(95, 71, 71);
    padding: 20px 5px;
     
}

.menu li{
    display: inline;
    font-size: 20px;
    padding: 10px;
    
}  
.menu li a {
        
    text-decoration: none;    
}

.menu li a:hover{
    color: yellow;
}

.image1 {
    width: 800px;
    height: 800px;
    padding: 20px;
}

.br {
    border-radius: 50%;
}
/*contato*/

.fonte{
    font-family: verdana;
    color: #ffffff;
    font-size: 23px;

}